body {
    background: rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
    /* border: 2px black solid; */

}


/* 
.navbar{
    background-color: #00ff6a;
    position: relative;
    display: flex;
    color: rgb(0, 0, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin: 20px;
    align-content:space-between;
    
} */
.main2 {
    width: 100%;
    text-align: center;

}

.navbar {
    background: #cf4141;
    width: 100%;
}

.logo {
    width: 10%;
    padding: 8px;
}

.list {
    width: 40%;
    display: flex;
}

.search-container {
    width: 20%;
}

.cart {
    width: 15%;
}

.login {
    width: 15%;
}

/* .navbar {
    
    display: flex;
    color: rgb(0, 0, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;

}

.logo {
    width: 10%;
    padding: 50px;
    align-items: center;
    align-content: center;
}

.list {
    width: 40%;
    white-space: 50px;
    word-spacing: 10px;
}


.search-container {
    width: 30%;
    text-align-last: left;
    align-items: center;
}

.login {
    width: 10%;
    background: #ffffff;
}

.cart {
    width: 10%;
    background-color: green;
    color: green;
} */

/* .cart a:visited{
    color: blue;
} */

ul {
    display: flex;
    flex-direction: row;


}



/* .Wrapper{
   
    border: 1px solid #ddd;
    display: flex;
}

.Wrapper item{
     min-width: 350px; 
    height: 350px;
    line-height: 350px;
    background-color: #ddd;
} */

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
  

}

.item:hover {
    box-shadow: 5px 5px 5px 5px;
}

/*  main box */

h1 {
    padding: 10px;
    margin: 20px;
}



.scroll {
    height: 500px;
    padding: 10px;
    margin: 20px;
}

.item1,
.item2 {
    display: flex;
    padding: 20px;
    
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
}

.item1::-webkit-scrollbar,
.item2::-webkit-scrollbar {
    width: 200px;
}

.item {
    display: flex;
    padding: 50px;
    border: 2px solid black;
    border-radius: 20px;
    height: 300px;
    padding: 50px;
    width: 200px;
    margin: 20px;
}

.item img:hover {
    cursor: pointer;
}

.item img {
    align-content: center;
    width: 150px;
    height: 200px;
}

button {
    border: none;
    border-radius: 40%;
    height: 50px;
    margin: 10px 20px;
    font-size: large;
    padding: 10px;
    align-items: center;
}

button :hover {
    cursor: pointer;
}

/*  hovering then order button */
.item {
    position: relative;
    width: 30%;
}

a:visited {
    color: blue;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.item:hover .image {
    opacity: 0.3;
}

.item:hover .middle {
    opacity: 1;
    cursor: pointer;
}

.text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

/* .navbar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    height: 50px;
    font-size: 17px;
    border: none;
    cursor: pointer;
} */

.footer {
    padding: 2rem 1rem 1rem;
    background-color: var(--light-yellow);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 2.25rem;
    background-color:aliceblue;
 }
 
 .footer__title {
    font-size: var(--font3);
    margin-bottom: 0.5rem;
 }
 
 .footer__social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .footer__social-media__icons {
    display: flex;
    justify-items: space-between;
    column-gap: 0.5rem;
 }
 
 .footer__icon {
    font-size: var(--font3);
    color: var(--dark-green);
    text-decoration: none;
    transition: 200ms all;
 }
 
 .footer__icon:hover {
    color: var(--dark-green-hover);
 }
 
 .footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
 }
 
 .footer__link {
    text-decoration: none;
    color: inherit;
 }
 
 .developer {
    background-color: var(--footer);
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.15rem;
    grid-column: span 2;
    text-align: center;
 }
 
 
 .developer__year {
    font-size: 0.85rem;
 }
 
 @media screen and (min-width: 1440px) {
    .footer__list {
       display: flex;
       flex-direction: row;
       align-self: center;
       column-gap: 1.25rem;
    }
 
    .developer__year {
       font-size: 0.9rem;
    }
 }